.sacola{
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;

    background: url(C:/Users/Raphael%20Gama/Desktop/mirrorfashion/css/sacola.png) no-repeat top right;
}
.menu-opcoes{
    font-size: 15px;

}