header{
    position: relative;
}

.container {
    margin: 0 auto;
    width: 940px;
}

body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #333;
}

.sacola{
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    background: url(C:/mirrorfashion/css/sacola.png) no-repeat top right;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #036
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    float: left;

    margin-left: 10px;
    width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2{
    margin: 10px;
}

.busca input{
    vertical-align: middle;
}

.busca input[type=search]{
    width: 170px;
}

.menu-departamentos{
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: #333;
    text-decoration: none;
}

.destaque{
    margin-top: 10px;
}

